.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(155, 95, 0);
  font-size: 32px;

  p {
    font-size: 18px;
  }

  .placeBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: fit-content;

    .placeBox {
      border: 2px solid rgb(129, 129, 129);
      border-radius: 3px;
      width: 200px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgb(19, 76, 161);
      background-image: linear-gradient(
        45deg,
        rgb(252, 249, 240),
        rgb(234, 220, 175)
      );

      .placeInfo {
        display: flex;
        flex-direction: column;

        .placeTitle {
          width: 96%;
          height: 23px;
          text-align: start;
          font-size: 18px;
          font-weight: 600;
          margin-left: 8px;
          overflow: hidden;
        }

        .placeContent {
          height: 14px;
          width: 96%;
          text-align: start;
          font-size: 10px;
          margin-left: 9px;
          overflow: hidden;
          color: rgb(74, 133, 178);
        }
      }
    }
    img {
      width: 108px;
      margin: 5px auto;
    }
  }

  .homing {
    margin: -5px auto 0 auto;
  }
  span {
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-top: 16px;
  }
}
