.App {
  position: fixed;
  text-align: center;
  margin: auto;
  background-image: linear-gradient(-45deg, rgb(192, 224, 232), #fff8dd);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.loadingICon {
  width: 100%;
  height: 670px;
}

@media screen and (max-width: 350px) {
  .loadingICon {
    height: 600px;
  }
}

@media screen and (min-width: 720px) {
  .loadingICon {
    height: 600px;
  }
}
